[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pylint = "*"

[packages]
aiodns = "*"
aiohttp = "*"
jinja2 = "*"
jwcrypto = "*"
sanic = "*"

[requires]
python_version = "3.11"

[pipenv]
allow_prereleases = false
