# SPDX-FileCopyrightText: Copyright 2026 OP Pohjola (https://op.fi)
#
# SPDX-License-Identifier: MIT

[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pylint = "*"

[packages]
aiodns = "*"
aiohttp = "*"
jinja2 = "*"
jwcrypto = "*"
sanic = "*"

[requires]
python_version = "3.14"

[pipenv]
allow_prereleases = false
